h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 10px;
    text-decoration: underline;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
    text-decoration: underline
}

.text{
    font-family: 'Courier New', Courier, monospace;
}

.headingDiv{
    display: inline-flex;
}

.description{
    margin-left: 10px;
}

.img{
    width: 250px;
    border: 5px solid black;
}